<!DOCTYPE html>
<html>
<head>
    <title>#SyncWithUs | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#SyncWithUs is a grassroots effort to protect reproductive rights across the United States. We are a volunteer team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.">
    <meta name="keywords" content="Women, Planned Parenthood, Health, Reproductive Rights, Periods">

    <meta property="og:title" content="#SyncWithUs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.syncwithus.org" />
    <meta property="og:image" content="http://www.syncwithus.org/static/img/share-circle-swimmers.png" />

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png" />

</head>
<body id="about-page">

<header>
    <a href="http://www.crowdrise.com/syncwithus">
        <img src="static/img/logo_marks.png" id="logo">
    </a>
</header>

<section class="container about">
    <div class="about-general" id="about-general">

        <div class="text">
            <h1>ABOUT US</h1>
            <br>
            <p class="red" style="text-align: center"><a href="#faq">FAQ's</a>&nbsp;&nbsp;&nbsp;<a href="#people-start">Who we are</a></p>
            <br>
            <p><a style="text-decoration: none;" href="http://www.crowdrise.com/syncwithus">#SyncWithUs</a> is a grassroots effort to protect reproductive rights across the United States. We are a volunteer team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.</p>
            <br>
            <p>Want to talk to us? Give us a shout at <a href="mailto:hello@syncwithus.org?Subject=Hello" target="_top">hello@syncwithus.org</a>. We’d love to hear from you.</p>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <img class="mobile-only" src="static/img/swimmers-1.png">
    </div>

    <!-- Show people in sets of 4 with some splotches along the way -->
    <div class="people-set-1 people" id="people-start">

        <div class="text">
            <div class="team-member">
                <img src="static/img/isabel.png">
                <p>Isabel works in data analytics at a startup in San Francisco. She's a proud alumni of the '08 Obama campaign and former producer of The Vagina Monologues. An avid open water swimmer, she generally prefers water to land.</p>
            </div>
            <div class="team-member">
                <img src="static/img/alex.png">
                <p>Alex is a math nerd at heart, software engineer by profession. She's led the development of tools for the newsroom, created products to assist low-income New Yorkers, and built data infrastructure for Hillary Clinton's 2016 campaign.  When she's not at hackathons, she's wandering around listening to podcasts.</p>
            </div>
            <div class="team-member">
                <img src="static/img/steph.png">
                <p>Stef is a product designer in San Francisco and native North Carolinian. Of her many adventures as an outdoorswoman, one of her proudest is completing the 200+ mile John Muir trail in the summer of 2016.</p>
            </div>
            <div class="team-member">
                <img src="static/img/daniel.jpg">
                <p>Daniel works as a software engineer. He is an active member at the First Unitarian Universalist Society of San Francisco, where he teaches progressive sexuality education to middle schoolers and serves on the Social Justice Council, focusing on economic & housing justice.</p>
            </div>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <div class="mobile-only">
            <img src="static/img/spot-pink.png">
        </div>
    </div>

    <div class="people-set-2 people">

        <div class="text">
            <div class="team-member">
                <img src="static/img/nat.png">
                <p>Natalie works in renewable energy investing in San Francisco and is an alumni of the Clinton Global Initiative. A proud east coast native, she's traded in her Philadelphia winters for bike rides along the beautiful California coast.</p>
            </div>
            <div class="team-member">
                <img src="static/img/michelle.png">
                <p>Michelle is a digital product designer with a soft spot for identity systems. She likes to work across print, digital, and spatial media, and happiest when they’re in reach of everyday people.</p>
            </div>
            <div class="team-member">
                <img src="static/img/brett.png">
                <p>Brett is a digital strategist living in Oakland, CA. He's also a proud alumni of Mother Jones magazine and the 2008 Obama campaign. In 2011 he traveled to Alaska, completing a life-long goal of visiting all 50 states.</p>
            </div>
            <div class="team-member">
                <img src="static/img/rick.png">
                <p>Rick is a Design Researcher. He supports Planned Parenthood with monthly donations, and has volunteered at clinics to help protect clients from harassment. </p>
            </div>
            <div class="team-member">
                <img src="static/img/blocks-yellow.png">
                <p>A illustrates and paints, and you can find her inks and paint marks all over this site. </p>
            </div>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <div class="mobile-only">
            <img src="static/img/spot-orange.png">
        </div>
    </div>



    <div class="text faq">
        <h1>Frequently Asked Questions</h1>

        <p class="question" id="faq">Are you getting paid to do this?</p>
        <p class="answer">Nope! We’re entirely volunteer run. Proceeds go directly to Planned Parenthood; we just collect the good vibes knowing you’re helping us fight for reproductive rights.</p>
        <p class="question">I don’t have a period. Can I still #SyncWithUs and support Planned Parenthood?</p>
        <p class="answer">Absolutely! You can still pledge to support your sweetie, spouse, best friend, family member, colleague, or anyone else you care about. Anybody can #SyncWithUs.</p>
        <p class="question">Are you affiliated with Planned Parenthood?</p>
        <p class="answer">No, but it’s still legit. Our team has worked closely with Planned Parenthood to make this happen, partnering with Crowdrise, an official donation platform for Planned Parenthood, to host our fundraiser.</p>
        <p class="question">What is Planned Parenthood doing with this money?</p>
        <p class="answer">Your pledge will go directly to Planned Parenthood Health Services. Your donation helps to keep the doors open for the 661 Planned Parenthood health centers around the country that provide critical health screenings, STI treatments and reproductive services. Learn more about where your money is going by heading over to <a href="https://www.plannedparenthood.org/learn">Planned Parenthood Health Services</a>.</p>
        <p class="question">How do I cancel my recurring donation? (and/or other donation-specific questions)</p>
        <p class="answer">Our trusted donation platform partner, Crowdrise, <a href="https://support.crowdrise.com/hc/en-us/categories/200104004-Donating-on-CrowdRise">has those questions covered for you</a>. Feel free to reach out to us at <a href="mailto:hello@syncwithus.org?Subject=Donation%20Question">hello@syncwithus.org</a> if you have any questions not addressed on their website.</p>
    </div>


</section>


<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
