<!DOCTYPE html>
<html>
<head>
    <title>#SyncWithUs | About</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#SyncWithUs is a grassroots effort to protect reproductive rights across the United States. We are a team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.">
    <meta name="keywords" content="Women, Planned Parenthood, Health, Reproductive Rights, Periods">

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png" />

</head>
<body id="about-page">

<header>
    <img src="static/img/logo_marks.png" id="logo">
</header>

<section class="container about">
    <div class="about-general">

        <div class="text">
            <h1>ABOUT US</h1>
            <br>
            <p>#SyncWithUs is a grassroots effort to protect reproductive rights across the United States. We are a team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.</p>
            <br>
            <p>Want to talk to us? Give us a shout at <a href="mailto:hello@syncwithus.org?Subject=Hello" target="_top">hello@syncwithus.org</a>. We’d love to hear from you.</p>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <img class="mobile-only" src="static/img/swimmers-1.png">
    </div>

    <!-- Show people in sets of 4 with some splotches along the way -->
    <div class="people-set-1 people">

        <div class="text">
            <div class="team-member">
                <img src="static/img/blocks-yellow.png">
                <p>Isabel is really nice.  Did you know she went to Penn?  Have you talked to her about vaginas?  She'll go on about them, maybe in a monologue.</p>
            </div>
            <div class="team-member">
                <img src="static/img/spot-orange.png">
                <p>Stephanie! bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .
            </div>
            <div class="team-member">
                <img src="static/img/scratch-pink.png">
                <p>Alex! bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .</p>
            </div>
            <div class="team-member">
                <img src="static/img/blocks-yellow.png">
                <p>Daniel! bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .</p>
            </div>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <div class="mobile-only">
            <img src="static/img/spot-pink.png">
        </div>
    </div>

    <div class="people-set-2 people">

        <div class="text">
            <div class="team-member">
                <img src="static/img/blocks-yellow.png">
                <p>Nat is really nice.  Here is her bio.  Talk to her about her time in Vietnam, because she's pretty rad.</p>
            </div>
            <div class="team-member">
                <img src="static/img/spot-orange.png">
                <p>Michelle  bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio . bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .</p>
            </div>
            <div class="team-member">
                <img src="static/img/scratch-pink.png">
                <p>Alice  bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio . bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .</p>
            </div>
            <div class="team-member">
                <img src="static/img/blocks-yellow.png">
                <p>Rick  bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio . bio.  Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio Bio .Bio Bio Bio .</p>
            </div>

        </div>
        <!-- only shown for smaller screens, below the text -->
        <div class="mobile-only">
            <img src="static/img/spot-orange.png">
        </div>
    </div>


</section>


<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
