{% extends "bootstrap/base.html" %}

{% block title%}#syncwithus!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <img src="/static/img/logo_marks.png" class="img-fluid" width="526"/>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>launching February 1, 2017</h2>
            <form>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text"/>
                    </div>
                    <div class="col-md-4">
                        <input type="submit" value="Keep me in the loop" />
                    </div>
                    <div class="col-md-4">
                        We will never share your email.
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/static/img/teaser.png" class="img-fluid" width="371"/>
        </div>
    </div>
</div>
{% endblock %}
