{% extends "bootstrap/base.html" %}

{% block title%}#syncwithus!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <img src="/static/img/logo_marks.png" class="img-fluid"/>
    </div>

    <div class="row">
        <div class="col-6">
            <h2>February 1, 2017</h2>
            <form>
            <input type="text"/>
            <input type="submit" value="Keep me in the loop" />
            We will never share your email.
            </form>
        </div>
        <div class="col-6">
            <img src="/static/img/teaser.png" class="img-fluid"/>
        </div>
    </div>
</div>
{% endblock %}
