{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
<link href="/static/style.css" rel="stylesheet">
{% endblock %}

{% block title%}#syncwithus!{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <img src="/static/img/logo_marks.png" class="img-fluid" width="526"/>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row" id="tagline">
                Let's put our periods to work for Planned Parenthood. Get notified about our fundraising effort when we launch in February 2017.
            </div>
            <form method="POST" action="/subscribe">
                <div class="row" id="form">
                    <input type="text" placeholder="Email address" name="email"/>
                    <button type="submit" class="btn btn-primary">I'm in</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img src="/static/img/teaser.png" class="img-fluid" width="371"/>
        </div>
    </div>
</div>
{% endblock %}
