<!DOCTYPE html>
<html>
<head>
    <title>#SyncWithUs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="#SyncWithUs is a grassroots effort to protect reproductive rights across the United States. We are a volunteer team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.">
    <meta name="keywords" content="Women, Planned Parenthood, Health, Reproductive Rights, Periods">

    <meta property="og:title" content="#SyncWithUs" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.syncwithus.org" />
    <meta property="og:image" content="http://www.syncwithus.org/static/img/share-circle-swimmers.png" />

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png" />

</head>
<body><a name="top"></a>

<div class="container">
    <div class="section1">
        <div class="logo">
            <img src="static/img/logo_marks.png" id="logo">
        </div>

        <div class="content">

            <div class="text">
                <p>Starting February 2017, let's put our periods to work for Planned Parenthood.</p>
                <br>
                <p>Stay in sync with us:</p>


                <form method="POST" action="https://syncwithus-landing.herokuapp.com/subscribe">
                    <div class="row" id="form">
                        <input required class="name-field" type="text" placeholder="First Name" name="fname"/>
                        <input class="name-field" type="text" placeholder="Last Name" name="lname"/>
                        <input required type="email" placeholder="Email address" name="email"/>
                        <button type="submit" class="button">&nbsp;I'm in</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="calendar">
            <img src="static/img/calendar.png" id="calendar">
        </div>

    </div>


    <section class="about">

        <div class="column">

            <div class="text">
                <p id="title">About</p>
                <br>
                <p>#SyncWithUs is a grassroots effort to protect reproductive rights across the United States. We are a volunteer team of organizers, illustrators, designers, and engineers from coast to coast. Join us in fighting to keep Planned Parenthood thriving.</p>
                <br>
                <p>Want to talk to us? Give us a shout at <a href="mailto:hello@syncwithus.org?Subject=Hello" target="_top">hello@syncwithus.org</a>. We’d love to hear from you.</p>

            </div>

        </div>

    </section>
</div>

<div class="illustrations">
    <div class="swimmers">
        <img src="static/img/aboutillustration.png">
    </div>
</div>



<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
