<!DOCTYPE html>
<html>
<head>
    <title>#syncwithus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/ico" href="/static/img/favicon.png" />

</head>
<body><a name="top"></a>

<div class="container">
<div class="section1">
    <div class="logo">
        <img src="static/img/logo_marks.png" id="logo">
    </div>

    <div class="content">

        <div class="text">
        <p>Thanks for supporting us. We'll be in touch!</p>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
